// ========== sass variables ==========
$black-dark: #171717;
$black-light: #5f5f5f;
$gray-dark: #ebebeb;
$gray-light: #f6f6f6;
$white: #ffffff;

$facebook-color: #3b5998;
$tweeter-color: #00acee;
$google-color: #db4a39;
$behance-color: #053eff;
$pinterest-color: #e60023;
$instagram-color: #8a3ab9;

$space-sm: 10px;
$space-md: 15px;
$space-lg: 20px;
$space-xl: 30px;

$post-width-sm: 200px;
$post-width-md: 280px;
$post-width-lg: 350px;

$mobile-menu-width: 240px;
// ========== end sass variables ==========

// ========== fonts ==========
@font-face {
  font-family: "Work Sans";
  src:
    url("../fonts/WorkSans-VariableFont_wght.ttf") format("truetype"),
    url("../fonts/WorkSans-Italic-VariableFont_wght.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Playfair Display";
  src:
    url("../fonts/PlayfairDisplay-VariableFont_wght.ttf") format("truetype"),
    url("../fonts/PlayfairDisplay-Italic-VariableFont_wght.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
// ========== end fonts ==========

// ========== global ==========
body {
  font-size: 15px;
  overflow-x: hidden;
  color: $black-dark;
  font-family: 'Work Sans', sans-serif;
}

.page-wrap {
  display: flex;
  min-height: 100vh;
  flex-direction: column;

  .page-header,
  .page-footer { flex: none; }

  .main-content { flex-grow: 1; }
}

.btn {
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 0;
  padding: 4px 8px;
  user-select: none;
  text-decoration: none;
  background-color: transparent;
}
// ========== end global ==========

// ========== container ==========
.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: $space-md;
  padding-right: $space-md;
}

@media (min-width: 576px) { .container { max-width: 540px; }}
@media (min-width: 768px) { .container { max-width: 720px; }}
@media (min-width: 992px) { .container { max-width: 960px; }}
@media (min-width: 1200px) { .container { max-width: 1140px; }}
// ========== end container ==========

// ========== header ==========
.page-header {
  top: 0;
  z-index: 1;
  position: sticky;
  padding: $space-xl 0;
  background-color: $white;

  .nav {
    display: flex;
    position: relative;
    justify-content: flex-end;
  }

  .toggle-menu {
    z-index: 2;
    display: none;
    cursor: pointer;
    font-size: 1.3em;
    visibility: hidden;
    position: relative;
    transition: color .3s;

    &::before {
      top: 50%;
      content: "\f0c9";
      position: absolute;
      visibility: visible;
      transform: translateY(-50%);
      font-family: "Font Awesome 5 Free";
    }

    &:checked {
      &::before { content: "\f00d"; }

      &+.menu {
        left: 0;
        top: 0;
        background-color: $white;

        &::before { left: $mobile-menu-width; }
      }
    }

    &:hover { color: $black-dark; }
  }

  .menu {
    margin: 0;
    padding: 0;
    z-index: 1;
    display: flex;
    font-size: 0.93em;
    color: $black-light;
    flex-direction: row;
    align-items: center;
    position: relative;
    list-style-type: none;
    transition: left .4s;
    box-sizing: border-box;

    &::before {
      top: 0;
      content: "";
      transition: .4s;
      left: 200%;
      width: 100%;
      height: 100%;
      position: fixed;
      background-color: rgba($black-dark, .2);
    }

    >.item { flex: none; z-index: 1; }

    >.item:first-child .link { padding-left: 0; }

    >.item:last-child .link { padding-right: 0; }

    .item {
      >.link {
        display: block;
        color: inherit;
        padding: 6px 15px;
        text-decoration: none;
        transition: color .2s;
        text-transform: uppercase;

        &:hover {
          color: $black-dark;
          text-decoration: none;
        }

        &.current {
          font-weight: 700;
          color: $black-dark;
        }
      }
    }
  }
}
// ========== end header ==========

// ========== posts ==========
.main-content {
  background-color: $gray-light;

  .posts-wrap { padding: $space-xl*3 0 $space-xl*2; }

  .more-posts-box {
    text-align: center;
    padding: $space-xl 0;
    background-color: $white;

    .more-posts { 
      transition: transform .3s;

      &:hover { transform: translateY(-5px); }
    }
  }
}

.posts-list {
  margin: 0;
  padding: 0;
  display: none;
  position: relative;
  list-style-type: none;

  &.animated .post { transition: all 0.3s ease-out; }

  &.wookmark-initialised .post { opacity: 1; }

  .post {
    opacity: 0;
    float: left;
    display: block;
    width: $post-width-lg;
  }
}

.card {
  box-shadow: rgba(99, 99, 99, 0.2) 0 2px 8px 0;
  transition: box-shadow, transform .3s;

  &:hover {
    box-shadow: rgba(99, 99, 99, 0.23) 0 2px 15px 0;
    transform: translateY(-10px);
  }

  .card-link {
    color: inherit;
    cursor: pointer;
    display: inherit;
    text-decoration: none;

    &:hover {
      color: inherit;

      .title { text-decoration: underline; }
    }
  }

  .figure {
    margin: 0;

    .banner { width: 100%; }

    .content { padding: $space-lg $space-xl; }
  }

  .title {
    font-size: 1.3em;
    font-weight: 700;
    margin: 0 0 10px;
    font-family: 'Playfair Display', serif;

    &:first-letter { text-transform: uppercase; }
  }

  .date {
    display: block;
    font-size: .8em;
    font-weight: 500;
    margin-bottom: 10px;
  }

  .description {
    margin: 0;
    font-size: 1em;
    line-height: 1.6;
    color: $black-light;
  }
}
// ========== end posts ==========

// ========== footer ==========
.page-footer {
  padding: $space-xl 0;
  background-color: $gray-dark;

  .soc-list {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .menu {
    margin: 0;
    padding: 0;
    display: flex;
    font-size: 1.3em;
    color: $black-light;
    list-style-type: none;

    .item {
      flex: none;

      .link {
        color: inherit;
        transition: color .2s;
        padding: $space-md / 2;

        &:hover {
          &.facebook { color: $facebook-color; }
          &.twitter { color: $tweeter-color; }
          &.google { color: $google-color; }
          &.behance { color: $behance-color; }
          &.pinterest { color: $pinterest-color; }
          &.instagram { color: $instagram-color; }
        }
      }
    }
  }
}
// ========== end footer ==========

// ========== media queries ==========
@media (max-width: 1199px) {
  .posts-list {
    .post { width: $post-width-md; }
  }
}

@media (max-width: 991px) {
  .posts-list {
    .post { width: $post-width-sm; }
  }
}

@media (max-width: 767px) {
  .page-header {
    padding: $space-md 0;

    .toggle-menu { display: block; }

    .menu {
      left: -100%;
      height: 100vh;
      position: fixed;
      padding: $space-sm 0;
      flex-direction: column;
      align-items: flex-start;
      width: $mobile-menu-width;
      box-shadow: 0 0 30 rgb(0 0 0 / 23%);

      >.item:first-child .link { padding-left: 15px; }

      >.item:last-child .link { padding-right: 15px; }

      >.item { width: 100%; }
    }
  }

  .main-content {

    .posts-wrap { padding: $space-xl 0; }

    .more-posts-box { padding: $space-md 0; }
  }

  .card {
    .figure {
      .content { padding: $space-md $space-sm; }
    }
  }

  .page-footer { padding: $space-lg; }
}

@media (max-width: 575px) {
  .page-footer {
    .menu {
      flex-grow: 1;
      justify-content: space-between;
    }
  }

  .posts-list {
    .post { width: 100%; }
  }
}
// ========== end media queries ==========