// ========== sass variables ==========
$black-dark: #171717;
$black-light: #5f5f5f;
$gray-dark: #ebebeb;
$gray-light: #f6f6f6;
$white: #ffffff;

$space-sm: 10px;
$space-md: 15px;
$space-lg: 20px;
// ========== end sass variables ==========

// ========== fonts ==========
@font-face {
  font-family: "Work Sans";
  src:
    url("../fonts/WorkSans-VariableFont_wght.ttf") format("truetype"),
    url("../fonts/WorkSans-Italic-VariableFont_wght.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Playfair Display";
  src:
    url("../fonts/PlayfairDisplay-VariableFont_wght.ttf") format("truetype"),
    url("../fonts/PlayfairDisplay-Italic-VariableFont_wght.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

// ========== end fonts ==========

body {
  font-size: 15px;
  line-height: 1.8;
  color: $black-dark;
  font-family: 'Work Sans', sans-serif;
  // font-family: 'Playfair Display', serif;
}

// ========== container ==========
.container-fluid {
  width: 100%;
  padding-right: $space-md;
  padding-left: $space-md;
  margin-right: auto;
  margin-left: auto;
}

.container {
  width: 100%;
  padding-right: $space-md;
  padding-left: $space-md;
  margin-right: auto;
  margin-left: auto;
}

// ========== end container ==========

// ========== media queries ==========
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

// ========== end media queries ==========