// ========== sass variables ==========
$black-dark: #171717;
$black-light: #5f5f5f;
$gray-dark: #ebebeb;
$gray-light: #f6f6f6;
$white: #ffffff;

$facebook-color: #3b5998;
$tweeter-color: #00acee;
$google-color: #db4a39;
$behance-color: #053eff;
$pinterest-color: #e60023;
$instagram-color: #8a3ab9;

$space-sm: 10px;
$space-md: 15px;
$space-lg: 20px;
$space-xl: 30px;

$mobile-menu-width: 240px;
// ========== end sass variables ==========

// ========== fonts ==========
@font-face {
  font-family: "Work Sans";
  src:
    url("../fonts/WorkSans-VariableFont_wght.ttf") format("truetype"),
    url("../fonts/WorkSans-Italic-VariableFont_wght.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Playfair Display";
  src:
    url("../fonts/PlayfairDisplay-VariableFont_wght.ttf") format("truetype"),
    url("../fonts/PlayfairDisplay-Italic-VariableFont_wght.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

// ========== end fonts ==========

body {
  overflow-x: hidden;
  font-size: 15px;
  color: $black-dark;
  font-family: 'Work Sans', sans-serif;
  // font-family: 'Playfair Display', serif;
}

// ========== container ==========
.container-fluid {
  width: 100%;
  padding-right: $space-md;
  padding-left: $space-md;
  margin-right: auto;
  margin-left: auto;
}

.container {
  padding-right: $space-md;
  padding-left: $space-md;
  margin-right: auto;
  margin-left: auto;
}

// ========== end container ==========

// ========== header ==========
.page-header {
  position: sticky;
  top: -30px;
  background-color: $white;
  padding: $space-xl 0;

  .nav {
    display: flex;
    justify-content: flex-end;
    position: relative;
  }

  .toggle-menu {
    visibility: hidden;
    display: none;
    z-index: 2;
    cursor: pointer;
    font-size: 1.3em;
    transition: color .3s;

    &::before {
      visibility: visible;
      content: "\f0c9";
      font-family: "Font Awesome 5 Free";
    }

    &:checked {
      &::before {
        content: "\f00d";
      }

      &+.menu {
        left: 0;
        top: 0;
        background-color: $white;

        &::before {
          left: $mobile-menu-width;
        }
      }
    }

    &:hover {
      color: $black-dark;
    }
  }

  .menu {
    font-size: 0.93em;
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style-type: none;
    color: $black-light;
    position: relative;
    z-index: 1;
    margin: 0;
    padding: 0;
    transition: left .4s;
    box-sizing: border-box;

    &::before {
      content: "";
      position: fixed;
      top: 0;
      transition: .4s;
      width: 100%;
      height: 100%;
      background-color: rgba($black-dark, .2);
      left: 200%;
    }

    >.item {
      flex: none;
      z-index: 1;
    }

    >.item:first-child .link {
      padding-left: 0;
    }

    >.item:last-child .link {
      padding-right: 0;
    }

    .item {
      >.link {
        display: block;
        color: inherit;
        text-decoration: none;
        padding: 6px 15px;
        text-transform: uppercase;
        transition: color .2s;

        &:hover {
          text-decoration: none;
          color: $black-dark;
        }

        &.current {
          color: $black-dark;
          font-weight: 700;
        }
      }
    }
  }
}

// ========== end header ==========

// ========== posts ==========
.posts-wrap {
  padding: $space-xl*3 0;
  background-color: $gray-light;
}

.tiles-wrap {
  position: relative;
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: none;

  &.animated li {
    transition: all 0.3s ease-out;
  }

  &.wookmark-initialised li {
    opacity: 1;
  }

  li {
    display: block;
    opacity: 0;
    float: left;
    width: 200px;
  }
}

.card {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  transition: box-shadow, transform .3s;

  &:hover {
    box-shadow: rgba(99, 99, 99, 0.23) 0px 2px 15px 0px;
    transform: translateY(-10px);
  }

  >.link {
    color: inherit;
    text-decoration: none;
    display: inherit;
    cursor: pointer;

    &:hover {
      color: inherit;

      .title {
        text-decoration: underline;
      }
    }
  }

  figure {
    margin: 0;

    figcaption {
      padding: $space-lg $space-xl;
    }
  }

  .title {
    font-size: 1.3em;
    font-weight: 700;
    margin: 0 0 10px;

    &:first-letter {
      text-transform: uppercase;
    }
  }

  .date {
    font-weight: 500;
    font-size: .8em;
    display: block;
    margin-bottom: 10px;
  }

  .description {
    color: $black-light;
    margin: 0;
  }
}

// ========== end posts ==========

// ========== footer ==========
.page-footer {
  background-color: $gray-dark;
  padding: $space-xl 0;

  .soc-list {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .menu {
    font-size: 1.3em;
    color: $black-light;
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;

    .item {
      flex: none;

      .link {
        color: inherit;
        padding: $space-md / 2;
        transition: color .2s;

        &:hover {
          &.facebook {
            color: $facebook-color
          }

          &.twitter {
            color: $tweeter-color
          }

          &.google {
            color: $google-color
          }

          &.behance {
            color: $behance-color
          }

          &.pinterest {
            color: $pinterest-color
          }

          &.instagram {
            color: $instagram-color
          }
        }
      }
    }
  }
}

// ========== end footer ==========

// ========== media queries ==========
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

@media (max-width: 575px) {
  .page-footer {
    .menu {
      justify-content: space-between;
      flex-grow: 1;
    }
  }
}

@media (max-width: 767px) {
  .page-header {
    padding: $space-sm 0;

    .toggle-menu {
      display: block;
    }

    .menu {
      left: -100%;
      flex-direction: column;
      align-items: flex-start;
      position: fixed;
      height: 100vh;
      padding: $space-sm 0;
      // box-shadow: 0 0 30px rgb(0 0 0 / 23%);
      width: $mobile-menu-width;

      >.item:first-child .link {
        padding-left: 15px;
      }

      >.item:last-child .link {
        padding-right: 15px;
      }

      >.item {
        width: 100%;
      }
    }
  }

  .posts-wrap {
    padding: $space-xl 0;
  }

  .page-footer {
    padding: $space-sm;
  }
}

@media (max-width: 991px) {}

@media (max-width: 1199px) {}

// ========== end media queries ==========